<h1>Todos</h1>
<h3>Welcome back <%= session[:current_email] %></h3>

<%= link_to "Create new todo", new_todo_path %>

<% @todos.each do |todo| %>
  <li class="<%= "completed" if todo.completed? %>">
    <%= todo.title %>
    <% if todo.completed? %>
      <%= button_to "Mark as incomplete", todo_completion_path(todo), method: :delete %>
    <% else %>
      <%= button_to "Mark as done", todo_completion_path(todo) %>
    <% end %>
  </li>
<% end %>
